# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
*.manifest
*.spec

# Virtual environments
venv/
env/
ENV/
.venv/
.python-version

# Test and coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
test_logs/

# Jupyter Notebook
.ipynb_checkpoints

# MyPy
.mypy_cache/
.dmypy.json
.pyre/

init
app*.db
app*.db-journal
app*.db-shm
app*.db-wal
admin_password.txt
config.toml

src/content/ssl/*
!src/content/ssl/client/
src/content/files/
src/content/logs/*

.idea
tests/*_old.py

# Node.js
package-lock.json
package.json
